

body {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  padding-bottom: 50px;
  padding-top: 40px;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  background-color: black;
}

Header {

  color: white;
  padding-bottom: 0px;
  font-size: 50px;
  
}

form {
  font-size: 20px;
  color: white;

}

a{
color: black;
font-size: 30px;
}
#InsultResult{
  padding-top: 10%;
}


