body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: auto;
  background-color: white;
}

#topBlock {
  background: black;
  color: white;
  height: 150px;
  width: 100%;

}

#topBlock Header {
  font-size: 70px;
  padding-top: 2%;
}

form {
  font-size: 20px;
  color: white;

}

.icon {
  width: 4%;
  opacity: 80%;
}

.icon:hover {
  opacity: 100%;
}

#bottomBlock {
  background: rgb(0, 0, 0);
  height: 200px;
  width: 100%;
}

#BigInsult {
  display: none;
}

#to {
  display: none;
}

#toText {
  display: none;
}

h1 {
  font-size: 45px;
}

#gnr {
  background-color: #242424;
  color: white;
  padding: 7vh 1vh;
}

input[type=text] {
  width: 20vw;
  border: none;
  border-bottom: 0.1px solid #4f4f4f;
  background-color: #242424;
  color: white;
  padding: 16px 20px;
}

input[type=text]:focus {
  border-bottom: 1px solid white;
  transition: 0.4s ease-in-out;
  padding: 16px 20px;
  outline: none;
}

select {
  width: 25vw;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4f4f4f;
  color: white;
}

input[type=button],
input[type=submit],
input[type=reset],
#generate {
  background-color: #4f4f4f;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
#generate:hover {
  background-color: black;
  padding: 16px 32px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#msgs {
  padding-top: 1vh;
  background-color: black;
  color: white;
}

#ins, #insultResult{
  color: #4f4f4f;
  text-decoration: none;
}

#InsultResult:hover {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

#insultLink {
  color: #4f4f4f;
  text-decoration: none;
}

#insultLink:hover {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

#message {
  background-color: black;
  padding: 1vh 1vh;
  color: white;
}

#msglil,
#msgbig {
  background-color: #242424;
  padding: 2vh 2vh;
  margin: 25px 20vw;
  border-radius: 25px;

}

a {
  font-size: 35px;
  color: #4f4f4f;
  text-decoration: none;

}

a:hover {
  color: white;
}